.wrap {
	width: 500px;
	min-height: 400px;
	background-color: #ffff00;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.add-wrap {
	/*width: 10000px;*/
}
.item {
	float: left;
	width: 100%;
	min-height: 200px;
	background-color: pink;
}
.item:odd {
	background-color: green;
}
.thumb {
	min-height: 100px;
	background-color: cornflowerblue;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}